
* {
    font-family: roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
}
/* about */
#about-conteiner {
    flex: 1.4;
    padding: 1rem 3rem;
}

#logo {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

#logo img {
    height: 50px;
    margin-right: 1rem;
}

#exclusivo {
    text-transform: uppercase;
    color: rgb(82, 82, 253);
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

#title {
    font-size: 2rem;
    max-width: 500px;
    margin-bottom: 1rem;
}

#info {
    margin-bottom: 1rem;
    color: rgb(104, 104, 104);
}

#chamada1 {
    margin-bottom: 1rem;
    max-width: 500px;
    line-height: 1.3rem;
}

h4 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

/* conteiner de users */

#users-conteiner {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.users-solo {
    border: 1px solid gray;
    width: 180px;
    padding: 1rem;
    text-align: center;
}

.users-solo img {
    height: 120px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.users-solo .users-name {
    font-weight: bold;
    margin-bottom: 1rem;
}

.users-solo .prof {
    font-size: 0.9rem;
    color: gray;
}

/* Form */
#form-conteiner {
    flex: 1;
    background-image: url("Imagens/pattern.png");
    background-size: cover;
    height: 100vh;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

#form-inner{
    border: 2px solid #fff;
    margin: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#form-inner h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

#form-inner p {
    margin-bottom: 1rem;
}

#name-conteiner{
    display: flex;
    gap: 0.5rem;
}

input {
    padding: 0.8rem 0.9rem;
    border: none;
    border-radius: 3px;
}

input[type = "submit"] {
    background-color: transparent;
    border: 2px solid #fff;
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
    transition: 0.5s;
}

input[type = "submit"]:hover {
    background-color: #fff;
    color:#0075ff;
}

#benefis {
    text-align: left;
}

#benefis ul {
    list-style-position: inside;
}

#benefis li {
    margin: 0.6rem;
}

@media (max-width: 450px) {

    

    #about-conteiner {
        padding: 2rem;
    }

    #about-conteiner h2 {
        font-size: 2.5rem;
    }

    #about-conteiner #info, #chamada1{
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    
    /* users-conteiner */
    #users-conteiner {
        display: flex;
        flex-direction: column;
    }

    .users-solo{
        width: 100%;
    }

    .users-name {
        font-size: 1.2rem;
    }

    .users-solo .prof {
        font-size: 1rem;
    }
    
    /* form */
    #form-conteiner {
        width: 100%;
    }

    #form-inner {
        margin: 1rem;
        
    }

    input {
        width: 100%;
    }

    #benefis {
       font-size: 0.8rem;
    }

   
    
}